-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.title')

.bootstrap_header_padding

.container
  .row-fluid
    .span12
      #section_header
        %h2
          = t('privacy')
        = render 'shared/settings_nav'

  .row-fluid
    .span3
    .span6
      %h3
        = "Static Privacy policies"
      = form_tag '/user/set_privacy_policies' do
        -# Location policy section
        %h4
          %u
            = "Protect Location"
        = check_box_tag :protect_location, 'yes', @protecting_location
        = "Protect my location"
        %br
        = check_box_tag :hide_location, 'yes', @hide_location
        = "Hide post to unauthorised users"
        %br
        = check_box_tag :block_location, 'yes', @block_location
        = "Block post to unauthorised users"
        %br
        %br
        = "Protect location against the following aspects"
        %br
        = select_tag 'location_aspects[]', options_for_select(@aspects.collect{|x| [x.name,x.id]}.push(["Everyone", -1]), @protected_location), {:multiple => :multiple, :size => @aspects.size + 1}
        %br

        -# Mentions policy section
        %h4
          %u
            = "Protect Mentions"
        = check_box_tag :protect_mentions, 'yes', @protecting_mentions
        = "Protect posts in which I am mentioned"
        %br
        = check_box_tag :hide_mentions, 'yes', @hide_mentions, {:disabled => true}
        = "Hide post to unauthorised users"
        %br
        = check_box_tag :block_mentions, 'yes', @block_mentions
        = "Block post to unauthorised users"
        %br
        %br
        = "Protect mentions against the following aspects"
        %br
        = select_tag 'mentions_aspects[]', options_for_select(@aspects.collect{|x| [x.name,x.id]}.push(["Everyone", -1]), @protected_mentions), {:multiple => :multiple, :size => @aspects.size + 1}
        %br

        Pictures policy section
        %h4
          %u
            = "Protect Pictures"
        = check_box_tag :protect_pics, 'yes', @protecting_pics
        = "Protect my pictures"
        %br
        = check_box_tag :hide_pics, 'yes', @hide_pics, {:disabled => true}
        = "Hide post to unauthorised users"
        %br
        = check_box_tag :block_pics, 'yes', @block_pics
        = "Block post to unauthorised users"
        %br
        %br
        = "Protect pictures against the following aspects"
        %br
        = select_tag 'pics_aspects[]', options_for_select(@aspects.collect{|x| [x.name,x.id]}.push(["Everyone", -1]), @protected_pics), {:multiple => :multiple, :size => @aspects.size + 1}
        %br

        %h3
          = "Evolving Privacy Policies!"
        %p
          = "- Your location will not be disclosed more than 3 times in the following 24 hours (for testing purposes the policy is currently set to 2 times every 40 seconds)"

        = check_box_tag :evolving_location, 'yes', @evolving_location
        = "Protect my location"
        %br
        %br
        %br
        %p
          = "- Your pictures will not be disclosed during the weekend (for testing purposes we consider that Monday starts at the 15th second of each minute and Friday at the 45th second"
        = check_box_tag :weekend_location, 'yes', @weekend_location
        = "Protect my pictures"
        %br
        = "Protect pictures during the weekend against the following aspect (only one can be picked)"
        %br
        = select_tag 'weekend_aspects[]', options_for_select(@aspects.collect{|x| [x.name,x.id]}.push(["Everyone", -1]), @weekend_pics), {:multiple => false, :size => @aspects.size + 1}
        %br
        %br
        %hr
        = submit_tag 'Save changes', :class => "btn"

        %hr
      %h3
        = t('.ignored_users')


      - @blocks.each do |block|
        = block.person_name
        \-
        = link_to t('.stop_ignoring'), block_path(block),
          :method => :delete
