-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.title')

.bootstrap_header_padding

.container
  .row-fluid
    .span12
      #section_header
        %h2
          = t('privacy')
        = render 'shared/settings_nav'

  .row-fluid
    .span3
    .span5
      %h3
        = t('.ignored_users')

      - @blocks.each do |block|
        = block.person_name
        \-
        = link_to t('.stop_ignoring'), block_path(block),
          :method => :delete

      / %h3
      /   = "Privacy policies"      
      / = form_for current_user, :url => user_path, :html => {:method => :put} do |f|
      /   = f.error_messages

      /   = f.label :getting_started, :class => "checkbox" do
      /     = f.check_box :getting_started
      /     = "Nobody can disclose my location"
      /   .small-horizontal-spacer
      /   = f.submit "Change", :class => "btn"
      
      %h3
        = "Privacy policies"
      = form_tag '/user/set_privacy_policies' do
        = check_box_tag :protect_location
        = "Nobody can know my location"
        %br
        %br
        = submit_tag 'Save changes', :class => "btn"
    .span3